[Unit]
Description=Python Speech Recognizer Service
After=sound.target
After=triton_manager.service
After=dialogue_manager.service
After=speech_synthesizer.service
Requires=triton_manager.service
Requires=dialogue_manager.service
Wants=speech_synthesizer.service

[Service]
# Ensure the Docker container is running
ExecStartPre=/usr/bin/bash -c 'until [ "$(docker inspect -f {{.State.Running}} riva-speech)" == "true" ]; do sleep 1; done'

# Wait for the gRPC service in the container to become healthy
ExecStartPre=/usr/bin/bash -c 'until docker exec riva-speech /bin/grpc_health_probe -addr=localhost:50051; do sleep 1; done'

# Wait for the dialogue manager service to be available
ExecStartPre=/usr/bin/bash -c 'until curl --silent --fail http://localhost:5005/; do sleep 3; done'

User=touti
Environment=XDG_RUNTIME_DIR="/run/user/1000"
Environment=DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus"
ExecStart=/home/touti/dev/speech_recognizer/.venv_sr/bin/python3 /home/touti/dev/speech_recognizer/speech_recognizer.py
WorkingDirectory=/home/touti/dev/speech_recognizer/
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

# Logging settings (overwrite log file on each start)
StandardOutput=truncate:/home/touti/dev/speech_recognizer/speech_recognizer.log
StandardError=truncate:/home/touti/dev/speech_recognizer/speech_recognizer.log

[Install]
WantedBy=default.target
